{% extends 'layout.html' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    Ta là cha con.
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    Chu Hồng là con ngươi
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    私はあなたのお父さんです
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    楚鴻飛はあなたの息子です。
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    내 가 니 아버지 야.
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    초 홍 비 는 당신 의 아들 입 니 다.
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    ฉันเป็นพ่อของเธอ
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    ชูหงเฟยเป็นลูกชายของคุณ
                </h3>
            </div>
        </div>
    </div>
{% endblock %}