{% extends 'layout.html' %}

{% block body %}
    <h1>Scan QR code with wechat</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img alt="Bootstrap Image Preview" src="../static/image/qr_code_0.webp"/>
            </div>
            <div class="col-md-6">
                <img alt="Bootstrap Image Preview" src="../static/image/qr_code_1.webp"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img alt="Bootstrap Image Preview" src="../static/image/qr_code_2.webp"/>
            </div>
            <div class="col-md-6">
                <img alt="Bootstrap Image Preview" src="../static/image/qr_code_3.webp"/>
            </div>
        </div>
    </div>
{% endblock %}